  * {
  box-sizing: border-box;
  }
  body {
  font-size: 14px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: rgba(70,43,156,1);
  }
  .v4_1010 {
  width: 430px;
  height: 932px;
  background: linear-gradient(rgba(70,43,156,1), rgba(100,74,181,0.8500000238418579));
  opacity: 1;
  position: absolute;
  flex-direction:column-reverse;
  align-items: center; 
  /* overflow: hidden; */
  }
  /* .v4_1011 {
    width: 345px;
    height: 345px;
    background: url("images/v4_1891.png");
    opacity: 1;
    position: absolute;
    top: 139px;
    left: 42px;
  } */
  .v4_1012 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 538px;
  left: 55px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
  }
  .v4_1013 {
  width: 227px;
  height: 68px;
  background: rgba(255,252,252,1);
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 101px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 27px;
  color: rgba(70,43,156,1);
  }
  .v4_1891 {
  width: 300px;
  height: 300px;
  background: url("images/v4_1891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 65px;
  overflow: hidden;
  }

  